.about-carimg{
	width: 100%;
}
.article {
    list-style: none;
    margin: 0.2rem 0.4rem;
	font-size: 0.4rem;
	color: #3C3C3C;
}
.article li {
    margin-top: 0.2rem;
}
.article li p{
    line-height: 1rem;
}