*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: black;
}
ul{
	list-style: none;
}
.header{
	background: rgba(255,255,255,1);
	width: 100%;
	height: 1.5rem;
	position: relative;
	z-index: 99;
}
.header .logo{
	width: 1.3rem;
	height: 1.2rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.header .icon {
   width: 1rem;
   height: 1rem;
   vertical-align: -0.15rem;
   fill: currentColor;
   overflow: hidden;
}
.header .nav-menu-switch{
	width: 1rem;
    height: 1rem;
	position: absolute;
	left: 0.2rem;
	top: 0;
	bottom: 0;
	margin: auto;
}
.header .language-switch,.header .back-to-top,.header .online-consultation{
	width: 1.3rem;
	height: 1.3rem;
	position: fixed;
	right: 0.2rem;
	border-radius: 50%;
	outline: none;
	color: white;
	background: #C21B36;
	font-size: 0.3rem;
	opacity: 0.8;
}
.header .language-switch{
	bottom: 4rem;
}
.header .back-to-top{
	bottom: 6rem;
	background-color: white;
	color: #C21B36;
}
.header .online-consultation{
	bottom: 2rem;
}
.header .mask{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	margin-top: 1.5rem;
}
.header .nav-menu{
	position: absolute;
	width: 100%;
	height: 6rem;
	padding: 0.2rem;
	box-sizing: border-box;
	background: #f8f8f8;
	margin-top: 1.5rem;
	z-index: 999;
	font-size: 0.4rem;
}
.nav-menu ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.nav-menu ul li{
	padding: 0.2rem;
}
.nav-menu ul li a{
	width: 2rem;
	color: black;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: relative;
	align-items: center;
}
.nav-menu .icon{
	width: 1.5rem;
	height: 1.5rem;
	background: #C21B36;
	border-radius: 0.25rem;
	padding: 0.3rem;
	box-sizing: border-box;
	/*position: absolute;
	left: 2rem;*/
	margin-bottom: 0.2rem;
}
.nav-menu span{
	font-size: 0.35rem;
}
[v-cloak]{
	display: none;
}
.slide-fade-enter-active {
	transition: all .3s ease;
}
.slide-fade-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}
.fade-enter-active {
	transition: all .3s ease;
}
.fade-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to {
	transform: translateX(-10px);
	opacity: 0;
}
.fadel-enter-active {
	transition: all .3s ease;
}
.fadel-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadel-enter, .fadel-leave-to {
	transform: translateX(-10px);
	opacity: 0;
}
.fadeo-enter-active {
	transition: all .3s ease;
}
.fadeo-leave-active {
	transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeo-enter, .fadeo-leave-to {
	transform: translateX(-10px);
	opacity: 0;
}