#personalCenter{
}
.user-info{
	box-sizing: border-box;
	width: 100%;
	height: 3rem;
	padding: 0.4rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-img{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-img img{
	float: left;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}
.user-num{
	float: left;
	color: lightgrey;
	font-size: 0.4rem;
	margin-left: 0.3rem;
}
.un2{
	margin-top: 0.1rem;
}
.un2 span{
	color: #da2515;
	font-size: 0.3rem;
}
.user-info button{
	float: right;
	background-color: white;
    display: block;
	padding: 0.2rem 0.3rem;
    border: 1px solid #dde4ea;
    border-radius: .6rem;
    text-align: center;
    color: #9ea2a6;
    font-size: 0.3rem;
	outline: none;
}
.record-type li{
    height: 1.2rem;
}
.record-type a{
	display: block;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #dde4ea;
    color: #495056;
    font-size: .4rem;
    position: relative;
}
.record-type a svg{
	width: 0.5rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.4rem;
	margin: auto;
}
.record-type li:nth-child(2) svg{
	width: 0.7rem;
	margin-left: -0.1rem;
}
.record-type a span{
	width: 7.5rem;
	height: 0.5rem;
	position: absolute;
	left: 1.4rem;
	top: 0;
	bottom: 0;
	margin: auto;
}
.record-type a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5rem;
    width: 0.25rem;
    height: 0.25rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -4px;
    border-top: 1px solid #9ea2a6;
    border-right: 1px solid #9ea2a6;
}
.sign-out{
	color: #fff;
    background: #da2515;
    width: 95%;
    height: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    position: relative;
    left: 2.5%;
	margin-top: 0.4rem;
	font-size: 0.4rem;
}