<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>详细参数</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/param.css">
	<script type="text/javascript" src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_hnvxccisg1p.js"></script>
</head>
<body>
	<div id="params" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<svg class="icon nav-menu-switch" aria-hidden="true" v-on:click="show = !show">
			    <use xlink:href="#icon-caidan"></use>
			</svg>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="slide-fade">
				<div v-if="show">
					<div class="mask" v-on:click="show = !show">
					</div>
					<div class="nav-menu">
						<ul>
							<li>
								<a href="index.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-xiazai45"></use>
									</svg>
									<span>{{ $t("header.home") }}</span>
								</a>
							</li>
							<li>
								<a href="buy.html" @click="navTobuy">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-car"></use>
									</svg>
									<span>{{ $t("header.buy") }}</span>
								</a>
							</li>
							<li>
								<a href="sale.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-maiche"></use>
									</svg>
									<span>{{ $t("header.sale") }}</span>
								</a>
							</li>
							<li>
								<a href="bargain.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-cart"></use>
									</svg>
									<span>{{ $t("header.bargain") }}</span>
								</a>
							</li>
							<li>
								<a href="installment.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-huankuanri"></use>
									</svg>
									<span>{{ $t("header.hire") }}</span>
								</a>
							</li>
							<li>
								<a href="about.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-chehangBmen"></use>
									</svg>
									<span>{{ $t("header.about") }}</span>
								</a>
							</li>
							<li>
								
							</li>
							<li>
								<a href="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					
					<div class="login" v-if="!regist">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="l-switch">
							<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
							<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
						</div>
						<div class="login-item">
							<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
						</div>
						<div class="login-item">
							<input type="password" class="defa getcodeinp" v-model="logindata.password" :placeholder="$t('ppass')"/>
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" :value="$t('log')" @click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
						</div>
					</div>
					<div class="login" v-else>
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="l-switch">
							<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
							<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
						</div>
						<div class="login-item">
							<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
						</div>
						<div class="login-item">
							<input type="password" class="defa getcodeinp" v-model="registerdata.password" :placeholder="$t('ppass')"/>
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" :value="$t('register')" @click="register()">
						</div>
						<div class="login-tips">
							<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<div class="param">
			<Spin size="large" fix v-if="spinShow"></Spin>
			<div class="record">
				<ul>
					<li class="title">车辆档案</li>
					<li v-for="(value,key) in $t('detail.datada[0]')">
						<span v-html="value"></span>
					</li>
				</ul>
			</div>
			<div class="default-param">
				<ul>
					<li class="title">基本参数</li>
					<li v-for="(value,key) in $t('detail.datada[1]')">
						<span v-html="value"></span>
					</li>
				</ul>
			</div>
			<div class="engine-param">
				<ul>
					<li class="title">发动机参数</li>
					<li v-for="(value,key) in $t('detail.datada[2]')">
						<span v-html="value"></span>
					</li>
				</ul>
			</div>
			<div class="security-config">
				<ul>
					<li class="title">安全配置</li>
					<li v-for="(value,key) in $t('detail.datads[0]')">
						<span v-html="value"></span>
					</li>
				</ul>
			</div>
			<div class="external-config">
				<ul>
					<li class="title">外部配置</li>
					<li v-for="(value,key) in $t('detail.datads[0]')">
						<span v-html="value"></span>
					</li>
				</ul>
			</div>
			<div class="interior-config">
				<ul>
					<li class="title">内部配置</li>
					<li v-for="(value,key) in $t('detail.datads[0]')">
						<span v-html="value"></span>
					</li>
				</ul>
			</div>
		</div>
		<div class="contact">
				<div class="top">
						<div class="logo"><img src="images/logor.png" ></div>
					<div class="wx">
						<a>
							<img src="images/wximg.jpg" >
							<span>{{$t('champion')}}</span>
						</a>
					</div>
					<div class="phone">
						<a>
							<img src="images/phone.png" >
							<span>{{$t('addressphone')}}</span>
						</a>
					</div>
				</div>
				</div>
			<div class="adress">
				<ul>
					<img src="images/address.png" >
				</ul>
			</div>
			<div class="misc">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
				</ul>
			</div>
			<div class="copy">
				<span>
		    Copyright@2019 CHAMPION Inc. Privacy Terms
		</span>
			</div>
			<Spin size="large" fix v-if="spinShow"></Spin>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			compact: false,
			regist: false,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			spinShow: false,
		},
		mounted() {
			var thatvu = this;
			
			orifun.initStatu(this);
			var goodId;
			if(localStorage.goodId){
				goodId = localStorage.goodId;
			}else{
				goodId = 2;
			}
			function cardetail(lang){
				thatvu.spinShow = true;
				data.common('Car/detail',function(d){
					// console.log(d)
					var car = d.car;
					var model = car.model;
					
					if(lang == 'en'){
						that = thatvu.$i18n._vm.messages['en'].detail;
						that.collect = car.collected;
						if(!model){
							
						}else{
							//车辆配置
							// 配置表格一
							// console.log(that.reportResult)
							var datada =[
								{
									'vendor：' : '<p>vendor：</p>' + '<div>' + model.company + '</div>',
									'level：' : '<p>level：</p>' + '<div>' + model.level + '</div>',
									'transmission：' : '<p>transmission：</p>' + '<div>' + model.gearbox + '</div>',
									'The door number：' : '<p>The door number：</p>' + '<div>' + model.door_count + '</div>',
									'Length * width * height(inch)：': '<p>Length * width * height(inch)：</p>' + '<div>' + model.size + '</div>',
									'The wheelbase(inch)：' : '<p>The wheelbase(inch)：</p>' + '<div>' + model.wheelbase + '</div>',
									'High fuel consumption(GL)：' : '<p>High fuel consumption(GL)：</p>' + '<div>' + model.high_speed_fuel_consumption + 'GL' + '</div>',
									'Urban fuel consumption(GL)：' : '<p>Urban fuel consumption(GL)：</p>' + '<div>' + model.city_fuel_consumption + 'GL' + '</div>'
								},{
									'The engine：' : '<p>The engine：</p>' + '<div>' + model.engine + 'horsepower' + '</div>',
									'displacement(L)：' : '<p>displacement(L)：</p>' + '<div>' + model.displacement + 'L' + '</div>',
									'Inlet type：' : '<p>Inlet type：</p>' + '<div>' + model.intake_type + '</div>',
									'cylinder：' : '<p>cylinder：</p>' + '<div>' + model.intake_type + '</div>',
									'Maximum horsepower(Ps)：' : '<p>Maximum horsepower(Ps)：</p>' + '<div>' + model.maximum_horsepower + '</div>',
									'Maximum torque(N*m)：' : '<p>Maximum torque(N*m)：</p>' + '<div>' + model.maximum_torque + '</div>',
									'Fuel type：' : '<p>Fuel type：</p>' + '<div>' + model.fuel_type + '</div>',
									'Engine anti-theft system：' : '<p>Engine anti-theft system：</p>' + '<div>' + model.engine_anti_theft_system + '</div>'
								},{
									'Drive way：' : '<p>Drive way：</p>' + '<div>' + model.driver_type + '</div>',
									'Power type：' : '<p>Power type：</p>' + '<div>' + model.assist_type + '</div>',
									'Front suspension type：' : '<p>Front suspension type：</p>' + '<div>' + model.front_suspension_type + '</div>',
									'Rear suspension type：' : '<p>Rear suspension type：</p>' + '<div>' + model.back_suspension_type + '</div>',
									'Front brake type：' : '<p>Front brake type：</p>' + '<div>' + model.front_brake_type + '</div>',
									'Rear braking type：' : '<p>Rear braking type：</p>' + '<div>' + model.back_brake_type + '</div>',
									'Tire description：' : '<p>Tire description：</p>' + '<div>' + model.tire_desc + '</div>',
								}
							];
							that.datada = datada;
							// 配置表格二
							var configone = d.configuration,
							configtwo = model.configuration;
							// 添加has属性
							for(var k in configone){
								var cd = configone[k].data;
								for(var s in cd){
									for(var p in configtwo){
										if(cd[s].name == configtwo[p].name){
											configone[k].data[s].has = true;
										}else{
											if(configone[k].data[s].has){
												// 不用再次操作
											}else{
												configone[k].data[s].has = false;
											}
										}
									}
								}
							}
							// 整理数据结构
							var datads = [{},{},{}];
							for(var r in configone){
								var cd = configone[k].data;
								for(var e in cd){
									datads[r][e] = '<p>' + cd[e].name + "：</p>" + '<div>' + (cd[e].has?"exist</div>":"without</div>");
								}
							}
							// console.log(datads)
							that.datads = datads;
						}
					}else{
						that = thatvu.$i18n._vm.messages['zh-cn'].detail;
						var datada =[
								{
									'厂商：' : '<p>厂商：</p>' + '<div>' + model.company + '</div>',
									'级别：' : '<p>级别：</p>' + '<div>' + model.level + '</div>',
									'变速箱：' : '<p>变速箱：</p>' + '<div>' + model.gearbox + '</div>',
									'车门数量：' : '<p>车门数量：</p>' + '<div>' + model.door_count + '</div>',
									'长*宽*高(inch)：': '<p>长*宽*高(inch)：</p>' + '<div>' + model.size + '</div>',
									'轴距(inch)：' : '<p>轴距(inch)：</p>' + '<div>' + model.wheelbase + '</div>',
									'高速油耗(GL)：' : '<p>高速油耗(GL)：</p>' + '<div>' + model.high_speed_fuel_consumption + 'GL' + '</div>',
									'城市油耗(GL)：' : '<p>城市油耗(GL)：</p>' + '<div>' + model.city_fuel_consumption + 'GL' + '</div>'
								},{
									'发动机：' : '<p>发动机：</p>' + '<div>' + model.engine + 'horsepower' + '</div>',
									'排量(L)：' : '<p>排量(L)：</p>' + '<div>' + model.displacement + 'L' + '</div>',
									'进气类型：' : '<p>进气类型：</p>' + '<div>' + model.intake_type + '</div>',
									'气缸：' : '<p>气缸：</p>' + '<div>' + model.cylinder_count + '</div>',
									'最大马力(Ps)：' : '<p>最大马力(Ps)：</p>' + '<div>' + model.maximum_horsepower + '</div>',
									'最大扭矩(N*m)：' : '<p>最大扭矩(N*m)：</p>' + '<div>' + model.maximum_torque + '</div>',
									'燃料类型：' : '<p>燃料类型：</p>' + '<div>' + model.fuel_type + '</div>',
									'发动机防盗系统：' : '<p>发动机防盗系统：</p>' + '<div>' + model.engine_anti_theft_system + '</div>'
								},{
									'驱动方式：' : '<p>驱动方式：</p>' + '<div>' + model.driver_type + '</div>',
									'助力类型：' : '<p>助力类型：</p>' + '<div>' + model.assist_type + '</div>',
									'前悬挂类型：' : '<p>前悬挂类型：</p>' + '<div>' + model.front_suspension_type + '</div>',
									'后悬挂类型：' : '<p>后悬挂类型：</p>' + '<div>' + model.back_suspension_type + '</div>',
									'前制动类型：' : '<p>前制动类型：</p>' + '<div>' + model.front_brake_type + '</div>',
									'后制动类型：' : '<p>后制动类型：</p>' + '<div>' + model.back_brake_type + '</div>',
									'轮胎描述：' : '<p>轮胎描述：</p>' + '<div>' + model.tire_desc + '</div>',
								}
							];
						that.datada = datada;
						// 配置表格二
						var configone = d.configuration,
						configtwo = model.configuration;
						// 添加has属性
						for(var k in configone){
							var cd = configone[k].data;
							for(var s in cd){
								for(var p in configtwo){
									if(cd[s].name == configtwo[p].name){
										configone[k].data[s].has = true;
									}else{
										if(configone[k].data[s].has){
											// 不用再次操作
										}else{
											configone[k].data[s].has = false;
										}
									}
									// console.log(configtwo[s])
								}
							}
						}
						// console.log(configone)
						// 整理数据结构
						var datads = [{},{},{}];
						for(var r in configone){
							var cd = configone[r].data;
							for(var e in cd){
								datads[r][e] = '<p>' + cd[e].name + "：</p>" + '<div>' + (cd[e].has?"有</div>":"无</div>");
							}
						}
						// console.log(datads)
						that.datads = datads;
					}
					thatvu.$nextTick(function(){
						thatvu.spinShow = false;
					})
				},{id:goodId,language:lang})
			}
			cardetail('en');
			cardetail('cn');
			console.log(thatvu.$i18n._vm.messages['en'].detail);
		},
		methods: {
			navTobuy: function(){
				orifun.initpostbody();
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			},
			lrswitch:function(e){
				orifun.lrswitch(this,e);
			}
		}
	}).$mount('#params')
	// 现在应用程序已经准备好了！
</script>
</html>