<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>个人中心</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/personalCenter.css">
	<script type="text/javascript" src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_sumr57zqeqa.js"></script>
</head>
<body>
	<div id="personalCenter" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<svg class="icon nav-menu-switch" aria-hidden="true" v-on:click="show = !show">
			    <use xlink:href="#icon-caidan"></use>
			</svg>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="slide-fade">
				<div v-if="show">
					<div class="mask" v-on:click="show = !show">
					</div>
					<div class="nav-menu">
						<ul>
							<li>
								<a href="index.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-xiazai45"></use>
									</svg>
									<span>{{ $t("header.home") }}</span>
								</a>
							</li>
							<li>
								<a href="buy.html" @click="navTobuy">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-car"></use>
									</svg>
									<span>{{ $t("header.buy") }}</span>
								</a>
							</li>
							<li>
								<a href="sale.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-maiche"></use>
									</svg>
									<span>{{ $t("header.sale") }}</span>
								</a>
							</li>
							<li>
								<a href="bargain.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-cart"></use>
									</svg>
									<span>{{ $t("header.bargain") }}</span>
								</a>
							</li>
							<li>
								<a href="installment.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-huankuanri"></use>
									</svg>
									<span>{{ $t("header.hire") }}</span>
								</a>
							</li>
							<li>
								<a href="about.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-chehangBmen"></use>
									</svg>
									<span>{{ $t("header.about") }}</span>
								</a>
							</li>
							<li>
								
							</li>
							<li>
								<a href="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					
					<div class="login" v-if="!regist">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="l-switch">
							<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
						</div>
						<div class="login-item">
							<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
						</div>
						<div class="login-item">
							<input type="password" class="defa getcodeinp" v-model="logindata.password" :placeholder="$t('ppass')"/>
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" :value="$t('log')" @click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<div class="user-info">
			<div class="head-img">
				<img v-if="userinfo.avatar_explain" :src="userinfo.avatar_explain">
				<img v-else src="images/user01.jpg">
				<div class="user-num">
					<div class="un1">
						{{userinfo.nickname?userinfo.nickname:'xxx'}}
					</div>
					<!-- <div class="un2">
						{{$t('person.hello')}}
					</div> -->
					<div class="un2" v-html="userinfo.phone?userinfo.phone:$t('person.toadd')">
					</div>
				</div>
			</div>
			<button @click="loginshow = !loginshow">{{$t('person.sa')}}</button>
		</div>
		<div class="record-type">
			<ul>
				<li>
					<a href="proveInfo.html">
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-tubiaolunkuo_huaban"></use>
						</svg>
						<span>{{$t('person.pcinfo')}}</span>
					</a>
				</li>
				<li>
					<a href="sellApply.html">
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-icon_goumaijilunor"></use>
						</svg>
						<span>{{$t('person.sellapply')}}</span>
					</a>
				</li>
				<li>
					<a href="updatePs.html">
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-app_icons--"></use>
						</svg>
						<span>{{$t('person.updateps')}}</span>
					</a>
				</li>
				<li>
					<a href="barginRecord.html">
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-liulanjilu"></use>
						</svg>
						<span>{{$t('person.barecord')}}</span>
					</a>
				</li>
				<li>
					<a href="installmentRecord.html">
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-yigouxiangmu"></use>
						</svg>
						<span>{{$t('person.av')}}</span>
					</a>
				</li>
				<li>
					<a href="preOrder.html">
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-yijianfankui"></use>
						</svg>
						<span>{{$t('person.preorder')}}</span>
					</a>
				</li>
				<li>
					<a href="collection.html">
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-wodeshoucang"></use>
						</svg>
						<span>{{$t('person.coll')}}</span>
					</a>
				</li>
			</ul>
		</div>
		<button type="button" class="sign-out" v-on:click="signout()">{{$t('person.lo')}}</button>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			loginshow: false,
			switchlogin: true,
			enshow: "ENGLISH",
			compact: false,
			regist: false,
			userinfo: '',
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			}
		},
		mounted() {
			orifun.initStatu(this);
			this.userInfo();
		},
		methods: {
			signout:function() {
				localStorage.login = false;
				localStorage.token = '';
				window.location.href = "index.html";
			},
			userInfo: function() {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning(orifun.getInfo('Please login first!','请先登录!'));
					return;
				}
				data.common('User/info',function(d){
					console.log(d)
					that.userinfo = d;
				})
			},
			navTobuy: function(){
				orifun.initpostbody();
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			},
			lrswitch:function(e){
				orifun.lrswitch(this,e);
			}
		}
	}).$mount('#personalCenter')
	// 现在应用程序已经准备好了！
</script>
</html>