<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>修改个人信息</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="dist/styles/iview.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/proveInfo.css">
	<script type="text/javascript" src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_hnvxccisg1p.js"></script>
</head>
<body>
	<div id="params" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<!-- <svg class="icon nav-menu-switch" aria-hidden="true" v-on:click="show = !show">
			    <use xlink:href="#icon-caidan"></use>
			</svg> -->
			<a  href="javascript:history.back()">
				<svg class="icon nav-menu-switch back" aria-hidden="true">
					<use xlink:href="#icon-jiantou"></use>
				</svg>
			</a>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="slide-fade">
				<div v-if="show">
					<div class="mask" v-on:click="show = !show">
					</div>
					<div class="nav-menu">
						<ul>
							<li>
								<a href="index.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-xiazai45"></use>
									</svg>
									<span>{{ $t("header.home") }}</span>
								</a>
							</li>
							<li>
								<a href="buy.html" @click="navTobuy">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-car"></use>
									</svg>
									<span>{{ $t("header.buy") }}</span>
								</a>
							</li>
							<li>
								<a href="sale.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-maiche"></use>
									</svg>
									<span>{{ $t("header.sale") }}</span>
								</a>
							</li>
							<li>
								<a href="bargain.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-cart"></use>
									</svg>
									<span>{{ $t("header.bargain") }}</span>
								</a>
							</li>
							<li>
								<a href="installment.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-huankuanri"></use>
									</svg>
									<span>{{ $t("header.hire") }}</span>
								</a>
							</li>
							<li>
								<a href="about.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-chehangBmen"></use>
									</svg>
									<span>{{ $t("header.about") }}</span>
								</a>
							</li>
							<li>
								
							</li>
							<li>
								<a href="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					
					<div class="login" v-if="!regist">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="l-switch">
							<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
							<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
						</div>
						<div class="login-item">
							<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
						</div>
						<div class="login-item">
							<input type="password" class="defa getcodeinp" v-model="logindata.password" :placeholder="$t('ppass')"/>
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" :value="$t('log')" @click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
						</div>
					</div>
					<div class="login" v-else>
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="l-switch">
							<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
							<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
						</div>
						<div class="login-item">
							<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
						</div>
						<div class="login-item">
							<input type="password" class="defa getcodeinp" v-model="registerdata.password" :placeholder="$t('ppass')"/>
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" :value="$t('register')" @click="register()">
						</div>
						<div class="login-tips">
							<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<div class="param">
			<Spin size="large" fix v-if="spinShow"></Spin>
			<i-form ref="formValidate" :model="formValidate" :label-width="80" @submit.native.prevent>
				<Form-Item label="Nickname" prop="nickname">
					<i-Input v-model="formValidate.nickname" placeholder="Enter your nickname"  size="large"></i-Input >
				</Form-Item>
				<Form-Item label="Phone" prop="phone">
					<i-Input v-model="formValidate.area_code" placeholder="Enter your dialling code" size="large"></i-Input>
				</Form-Item>
				<Form-Item label="Gender" prop="gender">
					<Radio-Group v-model="formValidate.sex"  size="large">
						<Radio label="male">Male</Radio>
						<Radio label="female">Female</Radio>
					</Radio-Group>
				</Form-Item>
				<Form-Item label="Birthday" prop="birthday">
					<Date-Picker style="width: 100%;" type="date" size="large" placeholder="Select date" format = "yyyy-MM-dd" v-model="formValidate.birthday" @on-change="getdate"></Date-Picker>
				</Form-Item>
				<Form-Item class="two-space">
					<i-Button type="primary" size="large" @click="handleSubmit">Submit</i-Button>
					<i-Button size="large" @click="handleReset('formValidate')" style="margin-left: 8px">Reset</i-Button>
				</Form-Item>
			</i-form>
		</div>
		<div class="contact">
				<div class="top">
						<div class="logo"><img src="images/logor.png" ></div>
					<div class="wx">
						<a>
							<img src="images/wximg.jpg" >
							<span>{{$t('champion')}}</span>
						</a>
					</div>
					<div class="phone">
						<a>
							<img src="images/phone.png" >
							<span>{{$t('addressphone')}}</span>
						</a>
					</div>
				</div>
				</div>
			<div class="adress">
				<ul>
					<img src="images/address.png" >
				</ul>
			</div>
			<div class="misc">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
				</ul>
			</div>
			<div class="copy">
				<span>
		    Copyright@2019 CHAMPION Inc. Privacy Terms
		</span>
			</div>
			<Spin size="large" fix v-if="spinShow"></Spin>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			compact: false,
			regist: false,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			formValidate: {
				nickname: '',
				area_code: '',
				sex: '',
				birthday: '',
			},
			spinShow: false,
		},
		mounted() {
			var thatvu = this;
			
			orifun.initStatu(this);
			
		},
		methods: {
			getdate (e) {
				this.formValidate.birthday = e;
			},
			handleSubmit (name) {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				if(this.formValidate.nickname == ''){
					this.$Message.warning('Please enter your nickname!');
					return;
				}
				if(this.formValidate.area_code == ''){
					this.$Message.warning('Please enter your dialling code!');
					return;
				}
				if(this.formValidate.sex == ''){
					this.$Message.warning('Please select gender!');
					return;
				}
				if(this.formValidate.birthday == ''){
					this.$Message.warning('Please select birthday!');
					return;
				}
				data.common('User/edit',function(d){
					console.log(d)
					if(d == 400 || d.code == 400){
						that && that.$Message.warning('Fail!');
					}else{
						that.$Notice.success({
							title: 'Success to update!',
						});
					}
				},this.formValidate);
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
			navTobuy: function(){
				orifun.initpostbody();
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			},
			lrswitch:function(e){
				orifun.lrswitch(this,e);
			}
		}
	}).$mount('#params')
	// 现在应用程序已经准备好了！
</script>
</html>