<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>检查报告</title>
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="dist/styles/iview.css">
		<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/report.css">
		<script type="text/javascript" src="js/flexible.js"></script>
		<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/vue-i18n.js"></script>
		<script type="text/javascript" src="js/screeningCondition.js"></script>
		<script type="text/javascript" src="js/language.js"></script>
		<script type="text/javascript" src="js/swiper.min.js"></script>
		<script type="text/javascript" src="js/data.js"></script>
		<script type="text/javascript" src="dist/iview.min.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
		<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_ohuyan4wjp.js"></script>
	</head>
	<body>
		<div id="about" v-cloak>
			<div class="header">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<svg class="icon nav-menu-switch" aria-hidden="true" v-on:click="show = !show">
				    <use xlink:href="#icon-caidan"></use>
				</svg>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
				<transition name="slide-fade">
					<div v-if="show">
						<div class="mask" v-on:click="show = !show">
						</div>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<svg class="icon" aria-hidden="true">
										    <use xlink:href="#icon-xiazai45"></use>
										</svg>
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<svg class="icon" aria-hidden="true">
										    <use xlink:href="#icon-car"></use>
										</svg>
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<svg class="icon" aria-hidden="true">
										    <use xlink:href="#icon-maiche"></use>
										</svg>
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<svg class="icon" aria-hidden="true">
										    <use xlink:href="#icon-cart"></use>
										</svg>
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<svg class="icon" aria-hidden="true">
										    <use xlink:href="#icon-huankuanri"></use>
										</svg>
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<svg class="icon" aria-hidden="true">
										    <use xlink:href="#icon-chehangBmen"></use>
										</svg>
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</transition>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						
						<div class="login" v-if="!regist">
							<div class="close" v-on:click="loginshow = !loginshow">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-close"></use>
								</svg>
							</div>
							<div class="l-switch">
								<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
								<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
							</div>
							<div class="login-item">
								<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
							</div>
							<div class="login-item">
								<input type="password" class="defa getcodeinp" v-model="logindata.password" :placeholder="$t('ppass')"/>
							</div>
							<div class="login-item">
								<input type="button" class="btn-login" :value="$t('log')" @click="login()">
							</div>
							<div class="login-tips">
								<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
							</div>
						</div>
						<div class="login" v-else>
							<div class="close" v-on:click="loginshow = !loginshow">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-close"></use>
								</svg>
							</div>
							<div class="l-switch">
								<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
								<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
							</div>
							<div class="login-item">
								<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
							</div>
							<div class="login-item">
								<input type="password" class="defa getcodeinp" v-model="registerdata.password" :placeholder="$t('ppass')"/>
							</div>
							<div class="login-item">
								<input type="button" class="btn-login" :value="$t('register')" @click="register()">
							</div>
							<div class="login-tips">
								<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
							</div>
						</div>
					</div>
				</transition>
			</div>
			<div class="checkcar">
				<div id="chekuang" class="layout-item  active">
					<section class="column report-info">
						<p class="re-car-name">
							<span>{{$t("detail.vtr")}}
						</p>
						<p class="re-car-name re-d">
							<span>{{$t("detail.dm") + '：'}}{{$t("detail.topinfo.name")}}</span>
						</p>
						<p class="">
							<span class="re-tit"><span>{{$t("detail.dt") + '：'}}</span></span>
							<span class="report-con">{{$t("detail.reportTime")}}</span>
						</p>
					</section>

					<input id="checkType" type="hidden" value="1">

					<!--初检：非外观   复检：严选,或者非外观-->
					<section class="column report-detail report-detail-b" id="detail_accident">
						<div class="column-head">
							<div class="column-title">{{$t("detail.reportresult[0].name")}}</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
							{{$t("detail.reportresult[0].result")}}
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list">
								<a href="javaScript:;" class="j-re-list">
									<p>{{$t('detail.accidentTime')}}</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>27项-->

										<span>{{$t('detail.accidentArrone').length}}{{$t('detail.item')}}</span>
										<svg class="allicon" aria-hidden="true">
											<use xlink:href="#icon-tubiao-"></use>
										</svg>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal" v-for="item in $t('detail.accidentArrone')">
											{{item.name}}
											<i v-if="item.item[0].value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										
									</ul>
								</div>
							</div>
						</div>
					</section>
					<!--初检：非外观   复检：严选,或者非外观-->
					<section class="column report-detail report-detail-b" id="detail_slight">
						<div class="column-head">
							<div class="column-title">{{$t('detail.reportresult[1].name')}}</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
							{{$t('detail.reportresult[1].result')}}
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>{{$t('detail.facecheckTime')}}</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>21项-->

										<span>{{$t('detail.facecheck').length}}{{$t('detail.item')}}</span>
										<svg class="allicon" aria-hidden="true">
											<use xlink:href="#icon-tubiao-"></use>
										</svg>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly r-content facecheck-c">
									<div class="title">
										<div class="title-item">
											<div class="node normal"></div>
											<span class="texts">{{$t('detail.normal')}}</span>
										</div>
										<div class="title-item">
											<div class="node repair"></div>
											<span class="texts">{{$t('detail.repair')}}</span>
										</div>
										<div class="title-item">
											<div class="node update"></div>
											<span class="texts">{{$t('detail.update')}}</span>
										</div>
										<div class="title-item">
											<div class="node norepair"></div>
											<span class="texts">{{$t('detail.norepair')}}</span>
										</div>
									</div>
									<div class="facecheck">
										<img src="images/report_body.png" >
										<div v-for="item in $t('detail.facecheck')">
											<span v-if="item.value == 'one'" style="background-color: #7FD441;"></span>
											<span v-else-if="item.value == 'two'" style="background-color: #b2cce5;"></span>
											<span v-if="item.value == 'three'" style="background-color: #ffb2b2;"></span>
											<span v-if="item.value == 'four'" style="background-color: #ff9900;"></span>
										</div>
									</div>
								</div>
								<!-- <div class="re-depoly facecheck">
									<ul>
										<li class="li-normal" v-for="item in $t('detail.facecheck')">
											{{item.name}}
											<span v-if="item.value == 'one'" style="background-color: #7FD441;"></span>
											<span v-else-if="item.value == 'two'" style="background-color: #b2cce5;"></span>
											<span v-if="item.value == 'three'" style="background-color: #ffb2b2;"></span>
											<span v-if="item.value == 'four'" style="background-color: #ff9900;"></span>
										</li>
									</ul>
								</div> -->
							</div>
						</div>
					</section>
					<section class="column report-detail report-detail-b" id="detail_accident">
						<div class="column-head">
							<div class="column-title">{{$t("detail.reportresult[2].name")}}</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
							{{$t("detail.reportresult[2].result")}}
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list">
								<a href="javaScript:;" class="j-re-list">
									<p>{{$t('detail.autodeviceTime')}}</p>
									<div class="unormal-right">
									</div>
									<div>
										<span>{{$t('detail.autodeviceone').length + 
										$t('detail.autodevicetwo').length + 
										$t('detail.autodevicethree').length + 
										$t('detail.autodevicefour').length + 
										$t('detail.autodevicefive').length + 
										$t('detail.autodevicesix').length}}{{$t('detail.item')}}</span>
										<svg class="allicon" aria-hidden="true">
											<use xlink:href="#icon-tubiao-"></use>
										</svg>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>
									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal" v-for="item in $t('detail.autodeviceone')">
											<span>{{item.desc}}</span>
											<i  v-if="item.value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.autodevicetwo')">
											<span>{{item.desc}}</span>
											<i  v-if="item.value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.autodevicethree')">
											<span>{{item.desc}}</span>
											<i  v-if="item.value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.autodevicefour')">
											<span>{{item.desc}}</span>
											<i  v-if="item.value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.autodevicefive')">
											<span>{{item.desc}}</span>
											<i  v-if="item.value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.autodevicesix')">
											<span>{{item.desc}}</span>
											<i  v-if="item.value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<section class="column report-detail report-detail-b" id="detail_accident">
						<div class="column-head">
							<div class="column-title">{{$t("detail.reportresult[3].name")}}</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
							{{$t("detail.reportresult[3].result")}}
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list">
								<a href="javaScript:;" class="j-re-list">
									<p style="font-size: 0.35rem;">{{$t('detail.dirveSysTime')}}</p>
									<div class="unormal-right">
									</div>
									<div>
										<span>{{$t('detail.dirveSysone').length + $t('detail.dirveSystwo').length + $t('detail.dirveSysthree').length + $t('detail.dirveSysfour').length + $t('detail.dirveSysfive').length}}{{$t('detail.item')}}</span>
										<svg class="allicon" aria-hidden="true">
											<use xlink:href="#icon-tubiao-"></use>
										</svg>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>
									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal" v-for="item in $t('detail.dirveSysone')">
											<span>{{item[0].name}}</span>
											<i   v-if="item[0].value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.dirveSystwo')">
											<span>{{item[0].name}}</span>
											<i   v-if="item[0].value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.dirveSysthree')">
											<span>{{item[0].name}}</span>
											<i   v-if="item[0].value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.dirveSysfour')">
											<span>{{item[0].name}}</span>
											<i   v-if="item[0].value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal" v-for="item in $t('detail.dirveSysfive')">
											<span>{{item[0].name}}</span>
											<i   v-if="item[0].value == 'normal'">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
											<i v-else>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-gantan"></use>
												</svg>
											</i>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="contact">
					<div class="top">
							<div class="logo"><img src="images/logor.png" ></div>
						<div class="wx">
							<a>
								<img src="images/wximg.jpg" >
								<span>{{$t('champion')}}</span>
							</a>
						</div>
						<div class="phone">
							<a>
								<img src="images/phone.png" >
								<span>{{$t('addressphone')}}</span>
							</a>
						</div>
					</div>
					</div>
				<div class="adress">
					<ul>
						<img src="images/address.png" >
					</ul>
				</div>
				<div class="misc">
					<ul>
						<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
					</ul>
				</div>
				<div class="copy">
					<span>
			    Copyright@2019 CHAMPION Inc. Privacy Terms
			</span>
				</div>
				<Spin size="large" fix v-if="spinShow"></Spin>
		</div>
	</body>
	<script type="text/javascript">
		var locale = localStorage.locale;
		new Vue({
			i18n,
			data: {
				show: false,
				topshow: false,
				botshow: false,
				enshow: "english",
				loginshow: false,
				switchlogin: true,
				compact: false,
				regist: false,
				logindata: {
					username: '',
					password: '',
					remember: 'y'
				},
				registerdata: {
					username: '',
					password: ''
				},
				spinShow: true,
			},
			mounted() {
				var thatvu = this;
				
				orifun.initStatu(this);
				var goodId;
				if(localStorage.goodId){
					goodId = localStorage.goodId;
				}else{
					goodId = 2;
				}
				function cardetail(lang){
					thatvu.spinShow = true;
					data.common('Car/detail',function(d){
						// console.log(d)
						var car = d.car;
						var model = car.model;
						
						if(lang == 'en'){
							that = thatvu.$i18n._vm.messages['en'].detail;
							
							// 顶部右侧车辆基础信息
							that.topinfo.name = ' ' + car.brand.name+ ' ' + car.series.name + ' ';
							
							//车辆检测报告
							if(car.report){
								let find = function(rm, id, value) {
									for(var k in rm){
										// console.log(rm[k][id], value)
										if (rm[k][id] == value) {
											return rm[k];
										}
										
									}
								};
								// 检测报告四条title
								var report = car.report;
								that.reportTime = '' + report.update_time;
								var rm = report.module;
								
								var accident,
								facecheck,
								autodevice,
								dirveSys;
								for(var k in rm){
									var f = find(rm, 'detection_module_id', Number(k) + 1);
									that.reportresult[k].result = '' + f.result;
									that.reportresult[k].name = '' + f.name;
								}
								
								accidentTime = find(rm, 'detection_module_id', 1).create_time;
								facecheckTime = find(rm, 'detection_module_id', 2).create_time;
								autodeviceTime = find(rm, 'detection_module_id', 3).create_time;
								dirveSysTime = find(rm, 'detection_module_id', 4).create_time;
								that.accidentTime = accidentTime;
								that.facecheckTime = facecheckTime;
								that.autodeviceTime = autodeviceTime;
								that.dirveSysTime = dirveSysTime;
								
								accident = find(rm, 'detection_module_id', 1).position;
								facecheck = find(rm, 'detection_module_id', 2).position;
								autodevice = find(rm, 'detection_module_id', 3).position;
								dirveSys = find(rm, 'detection_module_id', 4).position;
								
								// console.log(accident)
								// 事故排查
								for(var k in accident){
									if(k < 14){
										that.accidentArrone.push(accident[k]);
									}else if(k >= 14){
										that.accidentArrtwo.push(accident[k]);
									}
									
								}
								// 外观内饰
								var facecheckArr = [
									{
										value: find(facecheck, 'name' ,'1')?find(facecheck, 'name' ,'1').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'2')?find(facecheck, 'name' ,'2').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'3')?find(facecheck, 'name' ,'3').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'4')?find(facecheck, 'name' ,'4').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'5')?find(facecheck, 'name' ,'5').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'6')?find(facecheck, 'name' ,'6').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'7')?find(facecheck, 'name' ,'7').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'8')?find(facecheck, 'name' ,'8').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'9')?find(facecheck, 'name' ,'9').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'10')?find(facecheck, 'name' ,'10').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'11')?find(facecheck, 'name' ,'11').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'12')?find(facecheck, 'name' ,'12').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'13')?find(facecheck, 'name' ,'13').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'14')?find(facecheck, 'name' ,'14').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'15')?find(facecheck, 'name' ,'15').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'16')?find(facecheck, 'name' ,'16').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'17')?find(facecheck, 'name' ,'17').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'18')?find(facecheck, 'name' ,'18').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'19')?find(facecheck, 'name' ,'19').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'20')?find(facecheck, 'name' ,'20').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'21')?find(facecheck, 'name' ,'21').item[0].value:'one'
									}
								];
								that.facecheck = facecheckArr;
								
								//启动设备检测
								// console.log(autodevice)
								that.autodeviceone = find(autodevice, 'name' ,'2')?find(autodevice, 'name' ,'2').item.slice(0, 1): [{value:'normal',desc:'车辆排气正常'}];
								that.autodevicethree = find(autodevice, 'name' ,'3')?find(autodevice, 'name' ,'3').item.slice(0, 5): [{value:'normal',desc:'仪表盘指示灯显示正常,无故障报警'},{value:'normal',desc:'仪表盘指示灯显示正常,无故障报警 各类灯光调节功能正常'},{value:'normal',desc:'空调系统运转正常'},{value:'normal',desc:'泊车辅助系统工作正常'},{value:'normal',desc:'方向盘自由行程转角小于15度'}];
								that.autodevicetwo = find(autodevice, 'name' ,'4')?find(autodevice, 'name' ,'4').item.slice(0, 1): [{value:'normal',desc:'脚踏板功能正常'}];
								that.autodevicefour = find(autodevice, 'name' ,'5')?find(autodevice, 'name' ,'5').item.slice(0, 2): [{value:'normal',desc:'原地打转向时,转向机、转向柱、方向系统正常'},{value:'normal',desc:'变速箱换挡功能正常'}];
								that.autodevicefive = find(autodevice, 'name' ,'6')?find(autodevice, 'name' ,'6').item.slice(0, 3): [{value:'normal',desc:'怠速运转时发动机运转稳定'},{value:'normal',desc:"空挡提速时发动机运转稳定"},{value:'normal',desc:" 驻车制动器工作正常"}];
								that.autodevicesix = find(autodevice, 'name' ,'7')?find(autodevice, 'name' ,'7').item.slice(0, 1): [{value:'normal',desc:"车辆启动顺畅"}];
								
								//驾驶系统检测
								// console.log(dirveSys)
								for(var k in dirveSys){
									if(dirveSys[k].detection_group_id == 1){
										that.dirveSysone.push(dirveSys[k].item);
									}else if(dirveSys[k].detection_group_id == 2){
										that.dirveSystwo.push(dirveSys[k].item);
									}else if(dirveSys[k].detection_group_id == 3){
										that.dirveSysthree.push(dirveSys[k].item);
									}else if(dirveSys[k].detection_group_id == 4){
										that.dirveSysfour.push(dirveSys[k].item);
									}else{
										that.dirveSysfive.push(dirveSys[k].item);
									}
								}
							}else{
								that.carreport = 'false';
							}
						}else{
							that = thatvu.$i18n._vm.messages['zh-cn'].detail;
							
							// 顶部右侧车辆基础信息
							that.topinfo.name = ' ' + car.brand.name+ ' ' + car.series.name + ' ';
							
							//车辆检测报告
							if(car.report){
								let find = function(rm, id, value) {
									for(var k in rm){
										// console.log(rm[k][id], value)
										if (rm[k][id] == value) {
											return rm[k];
										}
										
									}
								};
								// 检测报告四条title
								var report = car.report;
								that.reportTime = report.update_time;
								var rm = report.module;
								
								var accident,
								facecheck,
								autodevice,
								dirveSys;
								for(var k in rm){
									var f = find(rm, 'detection_module_id', Number(k) + 1);
									that.reportresult[k].result = '' + f.result;
									that.reportresult[k].name = '' + f.name;
								}
								accidentTime = find(rm, 'detection_module_id', 1).create_time;
								facecheckTime = find(rm, 'detection_module_id', 2).create_time;
								autodeviceTime = find(rm, 'detection_module_id', 3).create_time;
								dirveSysTime = find(rm, 'detection_module_id', 4).create_time;
								that.accidentTime = accidentTime;
								that.facecheckTime = facecheckTime;
								that.autodeviceTime = autodeviceTime;
								that.dirveSysTime = dirveSysTime;
								// console.log(find(rm, 'detection_module_id', 1).ceeate_time)
								
								accident = find(rm, 'detection_module_id', 1).position;
								facecheck = find(rm, 'detection_module_id', 2).position;
								autodevice = find(rm, 'detection_module_id', 3).position;
								dirveSys = find(rm, 'detection_module_id', 4).position;
								
								// console.log(accident)
								// 事故排查
								for(var k in accident){
									if(k < 14){
										that.accidentArrone.push(accident[k]);
									}else if(k >= 14){
										that.accidentArrtwo.push(accident[k]);
									}
									
								}
								// 外观内饰
								var facecheckArr = [
									{
										value: find(facecheck, 'name' ,'1')?find(facecheck, 'name' ,'1').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'2')?find(facecheck, 'name' ,'2').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'3')?find(facecheck, 'name' ,'3').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'4')?find(facecheck, 'name' ,'4').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'5')?find(facecheck, 'name' ,'5').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'6')?find(facecheck, 'name' ,'6').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'7')?find(facecheck, 'name' ,'7').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'8')?find(facecheck, 'name' ,'8').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'9')?find(facecheck, 'name' ,'9').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'10')?find(facecheck, 'name' ,'10').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'11')?find(facecheck, 'name' ,'11').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'12')?find(facecheck, 'name' ,'12').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'13')?find(facecheck, 'name' ,'13').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'14')?find(facecheck, 'name' ,'14').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'15')?find(facecheck, 'name' ,'15').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'16')?find(facecheck, 'name' ,'16').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'17')?find(facecheck, 'name' ,'17').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'18')?find(facecheck, 'name' ,'18').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'19')?find(facecheck, 'name' ,'19').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'20')?find(facecheck, 'name' ,'20').item[0].value:'one'
									},{
										value: find(facecheck, 'name' ,'21')?find(facecheck, 'name' ,'21').item[0].value:'one'
									}
								];
								that.facecheck = facecheckArr;
								
								//启动设备检测
								// console.log(autodevice)
								that.autodeviceone = find(autodevice, 'name' ,'2')?find(autodevice, 'name' ,'2').item.slice(0, 1): [{value:'normal',desc:'车辆排气正常'}];
								that.autodevicethree = find(autodevice, 'name' ,'3')?find(autodevice, 'name' ,'3').item.slice(0, 5): [{value:'normal',desc:'仪表盘指示灯显示正常,无故障报警'},{value:'normal',desc:'仪表盘指示灯显示正常,无故障报警 各类灯光调节功能正常'},{value:'normal',desc:'空调系统运转正常'},{value:'normal',desc:'泊车辅助系统工作正常'},{value:'normal',desc:'方向盘自由行程转角小于15度'}];
								that.autodevicetwo = find(autodevice, 'name' ,'4')?find(autodevice, 'name' ,'4').item.slice(0, 1): [{value:'normal',desc:'脚踏板功能正常'}];
								that.autodevicefour = find(autodevice, 'name' ,'5')?find(autodevice, 'name' ,'5').item.slice(0, 2): [{value:'normal',desc:'原地打转向时,转向机、转向柱、方向系统正常'},{value:'normal',desc:'变速箱换挡功能正常'}];
								that.autodevicefive = find(autodevice, 'name' ,'6')?find(autodevice, 'name' ,'6').item.slice(0, 3): [{value:'normal',desc:'怠速运转时发动机运转稳定'},{value:'normal',desc:"空挡提速时发动机运转稳定"},{value:'normal',desc:" 驻车制动器工作正常"}];
								that.autodevicesix = find(autodevice, 'name' ,'7')?find(autodevice, 'name' ,'7').item.slice(0, 1): [{value:'normal',desc:"车辆启动顺畅"}];
								
								//驾驶系统检测
								// console.log(dirveSys)
								for(var k in dirveSys){
									if(dirveSys[k].detection_group_id == 1){
										that.dirveSysone.push(dirveSys[k].item);
									}else if(dirveSys[k].detection_group_id == 2){
										that.dirveSystwo.push(dirveSys[k].item);
									}else if(dirveSys[k].detection_group_id == 3){
										that.dirveSysthree.push(dirveSys[k].item);
									}else if(dirveSys[k].detection_group_id == 4){
										that.dirveSysfour.push(dirveSys[k].item);
									}else{
										that.dirveSysfive.push(dirveSys[k].item);
									}
								}
							}else{
								that.carreport = 'false';
							}
						}
						// that.collect = car.collected;//保存收藏状态
						// console.log(car.collected)
						// 顶部图片切换
						// console.log(model)
						thatvu.$nextTick(function(){
							thatvu.spinShow = false;
						})
					},{id:goodId,language:lang})
				}
				cardetail('en');
				cardetail('cn');
				
				$('.re-depoly').hide();
				$('.j-re-list').click(function(){
					var aimele = $(this).siblings('.re-depoly');
					if(aimele.css('display') == 'none'){
						aimele.show();
					}else{
						aimele.hide();
					}
				})
				console.log(thatvu.$i18n._vm.messages['en'].detail)
			},
			methods: {
				navTobuy: function(){
					orifun.initpostbody();
				},
				top:function(){
					orifun.top(this);
				},
				login: function() {
					orifun.login(this);
				},
				register: function() {
					orifun.register(this);
				},
				change :function() {
					orifun.change(this);
				},
				consult:function(){
					orifun.consult(this);
				},
				lrswitch:function(e){
					orifun.lrswitch(this,e);
				}
			}
		}).$mount('#about')
		// 现在应用程序已经准备好了！
	</script>
</html>
