<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>我要卖车</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/sale.css">
	<link rel="stylesheet" href="dist/styles/iview.css">
	<script type="text/javascript" src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="dist/locale/en-US.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="dist/locale/zh-CN.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_hnvxccisg1p.js"></script>
</head>
<body>
	<div id="sale" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<svg class="icon nav-menu-switch" aria-hidden="true" v-on:click="show = !show">
			    <use xlink:href="#icon-caidan"></use>
			</svg>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="slide-fade">
				<div v-if="show">
					<div class="mask" v-on:click="show = !show">
					</div>
					<div class="nav-menu">
						<ul>
							<li>
								<a href="index.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-xiazai45"></use>
									</svg>
									<span>{{ $t("header.home") }}</span>
								</a>
							</li>
							<li>
								<a href="buy.html" @click="navTobuy">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-car"></use>
									</svg>
									<span>{{ $t("header.buy") }}</span>
								</a>
							</li>
							<li>
								<a href="sale.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-maiche"></use>
									</svg>
									<span>{{ $t("header.sale") }}</span>
								</a>
							</li>
							<li>
								<a href="bargain.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-cart"></use>
									</svg>
									<span>{{ $t("header.bargain") }}</span>
								</a>
							</li>
							<li>
								<a href="installment.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-huankuanri"></use>
									</svg>
									<span>{{ $t("header.hire") }}</span>
								</a>
							</li>
							<li>
								<a href="about.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-chehangBmen"></use>
									</svg>
									<span>{{ $t("header.about") }}</span>
								</a>
							</li>
							<li>
								
							</li>
							<li>
								<a href="">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					
					<div class="login" v-if="!regist">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="l-switch">
							<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
							<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
						</div>
						<div class="login-item">
							<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
						</div>
						<div class="login-item">
							<input type="password" class="defa getcodeinp" v-model="logindata.password" :placeholder="$t('ppass')"/>
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" :value="$t('log')" @click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
						</div>
					</div>
					<div class="login" v-else>
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="l-switch">
							<span :class="regist==false?'on':''" data-type = "1" @click="lrswitch($event)">{{$t('log')}}</span>
							<span :class="regist==true?'on':''" data-type = "2" @click="lrswitch($event)">{{$t('register')}}</span>
						</div>
						<div class="login-item">
							<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
						</div>
						<div class="login-item">
							<input type="password" class="defa getcodeinp" v-model="registerdata.password" :placeholder="$t('ppass')"/>
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" :value="$t('register')" @click="register()">
						</div>
						<div class="login-tips">
							<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<img class="sale-carimg" src="images/index_masthead0cn.jpg" alt="car">
		<div class="sale-info">
			<ul>
				<li>
					<label for="vin">vin*</label>
					<input type="text" v-model="postbody.vin" name="vin" :placeholder="$t('sale.vin')"/>
				</li>
				<li>
					<label for="mileage">{{$t('sale.mileage')}}*</label>
					<input type="text" name="mileage" v-model="postbody.mileage" id="mileage" :placeholder="$t('sale.pmileage')"/>
				</li>
				<li>
					<label for="preprice">{{$t('sale.preprice')}}*</label>
					<input type="text" v-model="postbody.price" name="preprice" :placeholder="$t('sale.ppreprice')"/>
				</li>
				<li>
					<label for="address">{{$t('sale.personPosi')}}*</label>
					<input type="text" v-model="postbody.address" name="address" :placeholder="$t('sale.personPosi')"/>
				</li>
				<li>
					<div class="facecolor">
						<label class="">{{$t('sale.body')}}*</label>
						<select v-model="postbody.color">
						  <option v-for="item in $t('sale.facecolor')" @click="getFaceIndex($event)" v-bind:value="item">
							{{ item }}
						  </option>
						</select>
					</div>
				</li>
				<li>
					<div class="facecolor">
						<label>{{$t('sale.interior')}}*</label>
						<select v-model="postbody.interior_color">
						  <option v-for="option in $t('sale.insidecolor')" @click="getInterIndex($event)" v-bind:value="option">
							{{ option }}
						  </option>
						</select>
					</div>
				</li>
				<li>
					<label class="remarkcolor">{{$t('sale.remark')}}*</label>
					<textarea class="remark" v-model="postbody.remark" :placeholder="$t('sale.premark')">
						
					</textarea>
				</li>
				<li>
					<label>{{$t('sale.owner')}}*</label>
					<input type="text" v-model="postbody.phone" name="phoneNum" :placeholder="$t('sale.phoneNumber')"/>
					<input type="text" v-model="postbody.weixin" name="wxnum" :placeholder="$t('sale.wxNumber')"/>
					<div class="checkcode">
						<input type="text" name="check" id="check" v-model="postbody.verify_code" :placeholder="$t('sale.serifyCode')"/>
						<img :src="verifyImg" @click="getVerifyImg">
					</div>
				</li>
			</ul>
			<button class="submit" type="button" @click="post">{{$t('sale.submit')}}</button>
		</div>
		<div class="contact">
				<div class="top">
						<div class="logo"><img src="images/logor.png" ></div>
					<div class="wx">
						<a>
							<img src="images/wximg.jpg" >
							<span>{{$t('champion')}}</span>
						</a>
					</div>
					<div class="phone">
						<a>
							<img src="images/phone.png" >
							<span>{{$t('addressphone')}}</span>
						</a>
					</div>
				</div>
				</div>
			<div class="adress">
				<ul>
					<img src="images/address.png" >
				</ul>
			</div>
			<div class="misc">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
				</ul>
			</div>
			<div class="copy">
				<span>
		    Copyright@2019 CHAMPION Inc. Privacy Terms
		</span>
			</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			compact: false,
			regist: false,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			verifyImg: '',
			postbody: {
				address: '',
				vin: '',
				mileage: '',
				price: '',
				phone: '',
				weixin: '',
				verify_code: '',
				remark: '',
				color: '',
				interior_color: '',
				verify_code_key: '',
			},
		},
		mounted() {
			orifun.initStatu(this);
			this.getVerifyImg();
		},
		methods: {
			post: function(){
				var that = this;
				if(!localStorage.token){
					that && that.$Message.warning(orifun.getInfo('Please log in before apply!','请登录后进行申请!'));
					return;
				}
				if(this.postbody.verify_code_key == ''){
					that && that.$Message.warning(orifun.getInfo('The verification code has not been refreshed!','验证码尚未刷新!'));
					return;
				}
				if(this.postbody.address == ''){
					that && that.$Message.warning(orifun.getInfo('The address cannot be empty!','地址不能为空!'));
					return;
				}
				if(this.postbody.vin == ''){
					that && that.$Message.warning(orifun.getInfo('Vin code cannot be empty!','vin码不能为空!'));
					return;
				}
				if(this.postbody.mileage == ''){
					that && that.$Message.warning(orifun.getInfo('Mileage cannot be empty!','里程不能为空!'));
					return;
				}
				if(this.postbody.price == ''){
					that && that.$Message.warning(orifun.getInfo('The price cannot be empty!','价格不能为空!'));
					return;
				}
				if(this.postbody.phone == ''){
					that && that.$Message.warning(orifun.getInfo('The cell phone number cannot be empty!','手机号不能为空!'));
					return;
				}
				if(this.postbody.weixin == ''){
					that && that.$Message.warning(orifun.getInfo('WeChat ID cannot be empty!','微信号不能为空!'));
					return;
				}
				if(this.postbody.verify_code == ''){
					that && that.$Message.warning(orifun.getInfo('The verification code cannot be empty!','验证码不能为空!'));
					return;
				}
				if(this.postbody.remark == ''){
					that && that.$Message.warning(orifun.getInfo('Messages cannot be left blank!','留言不能为空!'));
					return;
				}
				if(this.postbody.color == ''){
					that && that.$Message.warning(orifun.getInfo('Please select vehicle appearance color!','请选择车辆外观颜色!'));
					return;
				}
				if(this.postbody.interior_color == ''){
					that && that.$Message.warning(orifun.getInfo('Please select vehicle interior color!','请选择车辆内饰颜色!'));
					return;
				}
				// console.log(this.postbody)
				data.common('CarWithAuth/saleApplication',function(d){
					console.log(d)
						if(d.code !== 400){
							that.$Notice.success({
								title: orifun.getInfo('Application is successful!','申请成功!'),
							});
						}else{
							var s = '';
							for(var k in d.data){
								s = s + d.data[k];
							}
							that.$Message.warning(s);
						}
				},this.postbody)
			},
			getVerifyImg: function(){
				var that = this;
				data.common('Misc/verifyCode',function(d){
						if(d.code !== 400){
							that.verifyImg = d.img;
							that.postbody.verify_code_key = d.key;
						}else{
							console.log('请求验证码失败')
						}
				})
			},
			navTobuy: function(){
				orifun.initpostbody();
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			},
			lrswitch:function(e){
				orifun.lrswitch(this,e);
			}
		}
	}).$mount('#sale')
	// 现在应用程序已经准备好了！
</script>
</html>